import React from 'react';
import PropTypes from 'prop-types';
import './index.css';

const {{name}} = (props)=> {
return <div className="{{toLowerCase name}}">{{name}} {props.sampleProp}</div>
}

{{name}}.propTypes = {
sampleProp: PropTypes.number,
};

export default {{name}};